<div layout="column" ng-cloak>
	<md-content class="md-padding">
			<h4>Check Vote</h4>
	 		<h4>Search Vote</h4>
	 		<p>paste the public key (address) here</p>
			<md-input-container class="md-block">
				<label>Address</label>
				<input ng-model="ctrl.addressinput">
			</md-input-container>
			<md-button ng-click="ctrl.searchAddress()"> Search Address </md-button>
			<div ng-if="ctrl.search.valid">
				<md-card>
					<md-card-title>
							Valid Vote {{ctrl.vote.candidateN}}
					</md-card-title>
					<md-card-content>
						<p>
							candidate: {{ctrl.name}}
						</p>
					</md-card-content>
				</md-card>
			</div>
			<div ng-if="ctrl.search.invalid">
				<md-card>
					<md-card-title>
						Invalid Vote
					</md-card-title>
					<md-card-content>
						<p>
							You must enter the full public key
						</p>
					</md-card-content>
				</md-card>
			</div>
	</md-content>
</div>
