<div ng-controller="PollingsCtrl as ctrl" layout="column" ng-cloak>
	<md-content class="md-padding">
	 <form ng-submit="$event.preventDefault()" name="searchForm">
		<h4>Pollings</h4>
		<p>To get polling results, you must search the poll title: try with "test"</p>
		<div layout-gt-sm="row">
			<md-autocomplete flex required
	            md-input-name="autocompleteField"
	            md-input-minlength="2"
	            md-input-maxlength="18"
	            md-no-cache="ctrl.noCache"
	            md-selected-item="ctrl.selectedItem"
	            md-search-text="ctrl.searchText"
	            md-items="poll in ctrl.querySearch(ctrl.searchText)"
	            md-item-text="poll.title"
	            md-floating-label="Poll Title">
	          <md-item-template>
	            <span ng-click="ctrl.selectPoll(poll)" md-highlight-text="ctrl.searchText">{{poll.title}}, {{poll.desc}}, {{poll.place}}</span>
	          </md-item-template>
	          <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
	            <div ng-message="required">It is <b>mandatory</b> to select one poll option</div>
	            <div ng-message="minlength">To few characters.</div>
	            <div ng-message="maxlength">To may characters.</div>
	          </div>
	        </md-autocomplete>
		</div>
		</form>
		<div ng-if="ctrl.poll">
			<p>Poll Details</p>
			<div flex-xs="" layout="column">
				<md-card>
					<md-card-header>
						<md-card-avatar>
							<img class="md-user-avatar" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQweeaR9FoqC6ur6UJ0KrQGQrFB_80EP_NnFNymPDwkInW5tFCK"/>
						</md-card-avatar>
						<md-card-header-text>
							<span class="md-title">{{ctrl.poll.place}}</span>
							<span class="md-subhead">{{ctrl.poll.title}}</span>
						</md-card-header-text>
					</md-card-header>
					<img ng-src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQweeaR9FoqC6ur6UJ0KrQGQrFB_80EP_NnFNymPDwkInW5tFCK" class="md-card-image" alt="Washed Out">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">{{ctrl.poll.title}}</span>

						</md-card-title-text>
					</md-card-title>
					<md-card-actions layout="row" layout-align="start center">
	          <md-card-icon-actions>
	            <md-button class="md-icon-button" aria-label="Totals" ng-click="ctrl.totals()">
	              <ng-md-icon icon="donut_large" style="fill: #677"></ng-md-icon>
	            </md-button>
	            <md-button class="md-icon-button" aria-label="Check My Vote" ng-click="ctrl.checkMyVote()">
	              <!--md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon-->
								<ng-md-icon icon="find_in_page" style="fill: #677"></ng-md-icon>
	            </md-button>
	          </md-card-icon-actions>
	          <md-button class="md-raised md-warn" ng-click="ctrl.help()">Help</md-button>
	        </md-card-actions>
					<md-card-content>
						<p>
							{{ctrl.poll.desc}}
						</p>
					</md-card-content>
				</md-card>
			</div>
		</div>
		<div ng-if="ctrl.poll">
			<md-card>
			<table class="md-api-table">
				<thead>
					<tr>
						<th>File</th>
						<th>Hash Link</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>All votes</td>
						<td>{{ctrl.poll.ipfs.allvotes}}</td>
					</tr>
					<tr>
						<td>Voters</td>
						<td>{{ctrl.poll.ipfs.voters}}</td>
					</tr>
					<tr>
						<td>Valid Votes</td>
						<td>{{ctrl.poll.ipfs.validvotes}}</td>
					</tr>
				</tbody>
			</table>
			</md-card>
		</div>
	</md-content>
</div>
